.radioInputs {
  position: relative;
  display: flex;

  flex-wrap: wrap;

  border-radius: 10px;
  border: 1px solid rgba(43, 43, 43, 0.568);
  box-sizing: border-box;
  overflow: hidden;

  padding: 20px;
  font-size: 20px;
  gap: 20px;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(6, 6, 6, 0.4);
    filter: blur(10px);
    border-radius: 10px;
    z-index: -1;
  }
}

.radio {
  //width: 70px;
  text-align: center;
}


.name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 10px 20px;
  color: #fff;
  transition: all .15s ease-in-out;
}

.checked {
  background-color: #4855fd;
  font-weight: 400;
}